{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Power of Difference Assessment - Choose Access Type</title>
</head>
<style>
    .paypal-form-div{
        display:none;
    }
</style>
    <script>
$(document).ready(function(){
    $('#price').val('150');
    $("#150").show();
    $('#price').on('change', function(){
        var demovalue = $(this).val();
        $("div.paypal-form-div").hide();
        $("#"+demovalue).show();
    });
});
</script>

    <link rel="stylesheet" href="{% static 'core/css/choose_access_type.css' %}">
    <div class="container" role="main" >
        <h1 class="text-center heading" role="heading" >Choose an access type to continue</h1>
        <div class="row justify-content-center position-relative" role="grid" >
            <div class="col-md-6" role="gridcell">
                <div class="card px-0 text-center h-100">
                    <h4 class="card-header font-weight-bold">
                        Institutional Access
                    </h4>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text">If your institution provided you with an access code, please enter it
                            here.</p>
                        <label for="access_code" hidden>Access Code</label>
                        <form id='verify_access_code_form' method="POST"
                              action="{% url 'core:verify_access_code' user_id=user_id %}">{% csrf_token %}</form>
                        <input name='access_code' form='verify_access_code_form'
                               class="form-control text-center mb-4 w-75 mx-auto"
                               id="access_code" maxlength="12" placeholder="Enter Access Code">
                        <button form='verify_access_code_form' class="w-100 btn btn-primary" role="button">Verify Code</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" role="gridcell">
                <div class="card px-0 text-center h-100">
                    <h4 class="card-header font-weight-bold">
                        Paid Access
                    </h4>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text">If you want to take the PDA and receive an hour-long results consultation (on
                            the phone or in-person), please click the button below to pay through PayPal. On the PayPal site,
                            use the gray button at the bottom that says pay with debit or credit card. The cost is
                            $150.00, though it is available on a sliding scale. </p>
                        <select name="price" id="price" class="form-control">
                            <option value="150">$150.00</option>
                            <option value="100">$100.00</option>
                            <option value="50">$50.00</option>
                        </select>
                        <div id="150" class="paypal-form-div"><br/>{{form.render}}</div>
                        <div id="100" class="paypal-form-div"><br/>{{form100.render}}</div>
                        <div id="50" class="paypal-form-div"><br/>{{form50.render}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
